<body style="margin: 0; padding-top: 100px; padding-bottom: 50px; background: #f7f7f7; font-family: sans-serif;">
  <div style="background-color: #00b4ea; display: block; position: fixed; top: 0; width: 100%; height: 200px; z-index: -1;">
  </div>
  <div style="background: #fff; padding: 20px 10px; width: 80%; z-index: 5; margin: auto; border: 1px solid rgba(0,0,0,.1)">
    <table style="background: #fff; margin: auto;" width="80%">
      <tr>
        <td>
          <h2 style="font-family: sans-serif;">PyBlog</h2></td>
        <td>
          <p style="color: #777; text-align: right;">Subscription confirmed</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <h3>Hello!</h3>
          <p>Thank you for your subscription to PyBlog, we really appreciate this.</p>
          <br/>
          <br/>
          <p style="text-align: right;">
            Kind regards,
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;PyBlog Team
          </p>
        </td>
      </tr>
    </table>
  </div>
</body>