{% extends "base.html" %}
{% block content %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          Hello! I'm Vladyslav Ovchynnykov and I enjoy math and programming. Python is definitely one of my favorite programming languages. I mainly program in Python/Django and other languages like JavaScript and maybe a bit of C++. I am 16 years old, and I have been programming since I was 12. I live in Nizhyn, Ukraine. I also enjoy solving different puzzles like Rubik's cube.
        </div>
      </div>
    </div>
  </article>
{% endblock content %}