{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p>
        <form action="" method="post" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
          <button type="submit" class="btn btn-primary">
          {% bootstrap_icon "star" %} Submit
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock content %}